* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    margin: 0;
    height: 100vh;
}

.weather-app {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #073a6e;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4A90E2;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #073a6e;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

#weatherResult {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
}
